services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    # command: ["executable", "arg"] -> this line was replaced with entrypoint
    # entrypoint: ["executable", "arg"] -> this line was added
    volumes:
      - .:/home/node/app
    ports:
      - "3000:3000"
  
  db:
    image: mysql:8.0.30-debian
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: my_database